.section5_content {
  height: 375px;
  background: #fff;
}

.section5_content .section5_content_top {
  display: grid;
  height: 143px;
  background: #dfdfdf;
  padding: 1px;
  box-sizing: border-box;
  grid-template-columns: 117px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 70px;
  grid-gap: 1px;
}

.section5_content .section5_content_top div {
  background: #fff url(../images/logo.png);
  background-position: -10px -138px;
}

.section5_content p {
  margin-top: 36px;
  margin-bottom: 30px;
  height: 1px;
  position: relative;
  background: #cccccc;
}

.section5_content p span {
  display: inline-block;
  font-size: 18px;
  width: 112px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: -14px;
  transform: translate(-50%);
  background: #fff;
  text-align: center;
  line-height: 30px;
}

.section5_content .section5_content_bottom .section5_content_bottom_top {
  height: 96px;
  display: flex;
}

.section5_content .section5_content_bottom .section5_content_bottom_top div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section5_content .section5_content_bottom .section5_content_bottom_top div span {
  font-size: 12px;
}

.section5_content .section5_content_bottom .section5_content_bottom_bottom {
  display: flex;
}

.section5_content .section5_content_bottom .section5_content_bottom_bottom div {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-right: 1px dashed #ccc;
}

.section5_content .section5_content_bottom .section5_content_bottom_bottom div:last-child {
  border-right: 0;
}

.section5_content .section5_content_bottom .section5_content_bottom_bottom div a {
  width: 73px;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 12px;
  color: #555553;
  line-height: 20px;
}

#footer {
  width: 100%;
}

#footer .footer_top {
  height: 228px;
  border-top: 2px solid #ce3c3d;
  border-bottom: 1px solid #e8e8e8;
}

#footer .footer_top .footer_top_content {
  width: 1190px;
  margin: 0 auto;
  display: flex;
}

#footer .footer_top .footer_top_content aside {
  width: 246px;
  box-sizing: border-box;
  margin: 15px;
  border-right: 1px solid #dedede;
}

#footer .footer_top .footer_top_content aside h3 {
  font-size: 14px;
  color: #999;
}

#footer .footer_top .footer_top_content aside em {
  color: #bd0f19;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
}

#footer .footer_top .footer_top_content aside p {
  font-size: 12px;
  color: #999;
}

#footer .footer_top .footer_top_content aside figure {
  display: inline-block;
  margin-top: 10px;
  width: 77px;
  background: #fff;
  border: 1px solid #d9d9d9;
}

#footer .footer_top .footer_top_content aside figure figcaption {
  padding: 9px;
}

#footer .footer_top .footer_top_content aside figure p {
  padding: 6px;
  padding-top: 0;
  font-size: 12px;
  color: #b3b3b3;
  text-align: center;
}

#footer .footer_top .footer_top_content article {
  margin: 15px;
  flex: 1;
}

#footer .footer_top .footer_top_content article .footer_top_content_article_top {
  display: flex;
  margin-bottom: 26px;
}

#footer .footer_top .footer_top_content article .footer_top_content_article_top div {
  flex: 1;
}

#footer .footer_top .footer_top_content article .footer_top_content_article_bottom {
  display: flex;
}

#footer .footer_top .footer_top_content article .footer_top_content_article_bottom ul {
  flex: 1;
}

#footer .footer_top .footer_top_content article .footer_top_content_article_bottom ul li {
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

#footer .footer_top .footer_top_content article .footer_top_content_article_bottom ul li:first-child {
  font-size: 14px;
  color: #666666;
  padding-bottom: 10px;
  font-weight: bold;
}

#footer .footer_bottom {
  height: 201px;
  background: #f8f8f8;
  text-align: center;
}

#footer .footer_bottom p a {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ccc;
  font-size: 12px;
  color: #787878;
}

#footer .footer_bottom span {
  color: #787878;
  font-size: 12px;
}

#footer .footer_bottom article {
  display: flex;
  justify-content: center;
}

#footer .footer_bottom article div {
  border: 1px solid #e7e7e7;
  margin: 20px 10px;
}

#footer .footer_bottom aside {
  width: 1000px;
  margin: 0 auto;
  border-top: 1px dashed #cccccc;
  border-bottom: 1px dashed #cccccc;
  padding: 8px 0;
}

#footer .footer_bottom aside a {
  padding: 0 10px;
}
